<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cipherscholar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AffineCipher" />
        <activity android:name=".AffineCipherDecrypt" />
        <activity android:name=".AffineCipherLearn" />
        <activity android:name=".AffineCipherPractice" />
        <activity android:name=".HillCipher" />
        <activity android:name=".HillCipherDecrypt" />
        <activity android:name=".HillCipherLearn" />
        <activity android:name=".HillCipherPractice" />
        <activity android:name=".AdfgxCipher" />
        <activity android:name=".AdfgxCipherDecrypt" />
        <activity android:name=".AdfgxCipherLearn" />
        <activity android:name=".AdfgxCipherPractice" />
        <activity android:name=".ShiftCipher" />
        <activity android:name=".ShiftCipherDecrypt" />
        <activity android:name=".ShiftCipherLearn" />
        <activity android:name=".ShiftCipherPractice" />
        <activity android:name=".VigenereCipher" />
        <activity android:name=".VigenereCipherDecrypt" />
        <activity android:name=".VigenereCipherLearn" />
        <activity android:name=".VigenereCipherPractice"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>